html {
  letter-spacing: 0.22px;
  overflow-x: hidden;
  min-height: 100vh;
  height: 100%;
}

a:link,
a:visited,
a:hover {
  text-decoration: none;
}

a:focus {
  outline: none;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
}

#root {
  height: 100%;
}

.wrapper {
  min-height: 100vh;
  flex-grow: 1;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 13px;
  border-radius: 20px;
  background-color: #f0f1f2;
  border: solid 1.6px #ededed;
}

::-webkit-scrollbar-thumb {
  border: 3px solid #f0f1f2;
  border-radius: 20px;
  background-color: #2c96ff;
}
